<div class="split-left">

  <mat-list>
    <span class="box">
      <a mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine class="link-menu" (click)="countingProblems()">Counting Problems</h3>
      </a>
    </span>
    <mat-divider></mat-divider>
    <a mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine class="link-menu">Understanding Addition</h3>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine class="link-menu">Understanding Subtraction</h3>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine class="link-menu">Mixed Operations</h3>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine class="link-menu">Comparison Problems</h3>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine class="link-menu">Measurement Problems</h3>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine class="link-menu" (click)="patternProblems()">Patterns</h3>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine class="link-menu">Shapes</h3>
    </a>
    <mat-divider></mat-divider>
  </mat-list>
</div>
<mat-divider vertical="true" gutter></mat-divider>
<!-- <mat-grid-tile colspan="8"> -->
<div class="container first-grade-panel">
  <div class="slide-right">
    <!-- Added for testing dynamic logic-->
    <div *ngIf="test_for_pattern" class="question-panel">
      <div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Question{{question[i].number}}</mat-card-title>
            <mat-card-subtitle>{{question[i].desc}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="flex-container">
              <span class="flex-item" *ngFor="let image of question[i].images"><img
                  src="../../assets/{{image.name}}"></span>
            </div>
            <br>
            <br>
            <br>
            <div class="flex-container" style="position:relative;right:-50px">
              <div *ngIf="question[i].answers.type=='button'">
                <span class="flex-item" *ngFor="let button of question[i].answers.buttons">
                  <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('1')">{{button.id}}</button>
                </span>
              </div>
              <div *ngIf="question[i].answers.type=='image'">
                <span class="flex-item" *ngFor="let button of question[i].answers.buttons">
                  <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('1')"><img src="../../assets/{{button.image}}"/></button>
                </span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <br>
      <div>
        <button class="btn btn-outline-rounded btn-default previous-btn" (click)="i=i-1" [disabled]="i==0"> <span
            style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span>
          Previous</button>
        <button class="btn btn-outline-rounded btn-info" style="float:right" (click)="i=i+1"
          [disabled]="i==question.length-1">Next <span style="margin-right:10px;"
            class="glyphicon glyphicon-arrow-right"></span> </button>
      </div>
    </div>
  </div>
</div>
    <!-- Added for testing dynamic logic ends-->


    <!-- <div *ngIf="displayCounting_1" class="question-panel">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Question1</mat-card-title>
          <mat-card-subtitle>Count number of balls</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="align-contents">
          <div class="flex-container">
            <span class="flex-item"><img src="../../assets/counting/ball2.jpg" alt="ball1"></span>
            <span class="flex-item"><img src="../../assets/counting/ball2.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/ball2.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/ball2.jpg" alt="ball2"></span>
          </div>
          <br>
          <br>
          <br>
          <div class="flex-container">
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q1('1')">1</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q1('2')">2</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q1('3')">3</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q1('4')">4</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q1('5')">5</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q1('6')">6</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q1('7')">7</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q1('8')">8</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q1('9')">9</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q1('10')">10</button>
            </span>
          </div>
          <div class="flex-container">
            <span class="flex-item">
              <mat-label>{{labelstringC1S1Q1}}</mat-label>
            </span>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
      <div> 
       
        <button class="mat-raised-button previous-btn" color="primary"> <span style="margin-right:10px;"
            class="glyphicon glyphicon-arrow-left "></span> Previous</button>
        <button class="btn btn-outline-rounded btn-info" style="float:right"
          (click)="displayCounting_1=false; displayCounting_2=true">Next <span style="margin-right:10px;"
            class="glyphicon glyphicon-arrow-right"></span> </button>
      </div>
    </div>-->
    <!-- <div *ngIf="displayCounting_2" class="question-panel">
      <br>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Question2</mat-card-title>
          <mat-card-subtitle>Count number of doughnuts:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="align-contents">
          <div class="flex-container">
     
            <span class="flex-item"><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            <span class="flex-item"><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            <span class="flex-item"><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            <span class="flex-item"><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            <span class="flex-item"><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            <span class="flex-item"><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            <span class="flex-item"><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            <span class="flex-item"><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            <span class="flex-item"><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            <span class="flex-item"><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            
            <br>
            <br>
            <br>
          </div>
          <div class="flex-container" style="position:relative;right:-50px">
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('1')">1</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('2')">2</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('3')">3</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('4')">4</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('5')">5</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('6')">6</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('7')">7</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('8')">8</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('9')">9</button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S1Q2('10')">10</button>
            </span>
          </div>
          <div>
            <div class="flex-container">
              <div class="flex-item " style='position:relative;right:-50px'>
                <mat-label>{{labelstringC1S1Q2}}</mat-label>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
      <div>
        <button class="btn btn-outline-rounded btn-default previous-btn"
          (click)="displayCounting_2=false; displayCounting_1=true"> <span style="margin-right:10px;"
            class="glyphicon glyphicon-arrow-left"></span>
          Previous</button>
        <button class="btn btn-outline-rounded btn-info" style="float:right">Next <span style="margin-right:10px;"
            class="glyphicon glyphicon-arrow-right"></span> </button>
      </div>
    </div>

    
    <div *ngIf="displayPatterns_1" class="question-panel">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Question1</mat-card-title>
          <mat-card-subtitle>What number comes next in the given pattern?</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="align-contents">
          <div class="flex-container">
            <span class="flex-item"><img src="../../assets/counting/1.jpg" alt="ball1"></span>
            <span class="flex-item"><img src="../../assets/counting/2.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/2.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/1.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/2.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/2.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/1.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/2.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/qmark.jpg" alt="ball2"></span>
          </div>
          <br>
          <br>
          <div class="flex-container">
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S7Q1('1')"><img
                  src="../../assets/counting/1.jpg" /></button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S7Q1('2')"><img
                  src="../../assets/counting/2.jpg" /></button>
            </span>
          </div>
          <div class="flex-container">
            <span class="flex-item">
              <mat-label>{{labelstringC1S7Q1}}</mat-label>
            </span>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
      <div>
        <button class="btn btn-outline-rounded btn-default previous-btn"> <span style="margin-right:10px;"
            class="glyphicon glyphicon-arrow-left"></span> Previous</button>
        <button class="btn btn-outline-rounded btn-info" style="float:right"
          (click)="displayPatterns_1=false; displayPatterns_2=true">Next <span style="margin-right:10px;"
            class="glyphicon glyphicon-arrow-right"></span> </button>
      </div>

    </div>
    <br>
    <div *ngIf="displayPatterns_2" class="question-panel">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Question2</mat-card-title>
          <mat-card-subtitle>What number comes next in the given pattern?</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="align-contents">
          <div class="flex-container">
            <span class="flex-item"><img src="../../assets/counting/5.jpg" alt="ball1"></span>
            <span class="flex-item"><img src="../../assets/counting/1.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/6.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/5.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/1.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/6.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/5.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/1.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/6.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/5.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/1.jpg" alt="ball2"></span>
            <span class="flex-item"><img src="../../assets/counting/qmark.jpg" alt="ball2"></span>
          </div>
          <br>
          <br>
          <div class="flex-container">
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S7Q2('1')"><img
                  src="../../assets/counting/1.jpg" /></button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S7Q2('5')"><img
                  src="../../assets/counting/5.jpg" /></button>
            </span>
            <span class="flex-item">
              <button mat-raised-button type="submit" (click)="changeLabelNameC1S7Q2('6')"><img
                  src="../../assets/counting/6.jpg" /></button>
            </span>
          </div>
          <div class="flex-container">
            <span class="flex-item">
              <mat-label>{{labelstringC1S7Q2}}</mat-label>
            </span>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
      <div>
        <button class="btn btn-outline-rounded btn-default previous-btn"
          (click)="displayPatterns_1=true; displayPatterns_2=false"> <span style="margin-right:10px;"
            class="glyphicon glyphicon-arrow-left"></span>
          Previous</button>
        <button class="btn btn-outline-rounded btn-info" style="float:right" [disabled]>Next <span
            style="margin-right:10px;" class="glyphicon glyphicon-arrow-right"></span> </button>
      </div>
    </div>

  </div> -->
