<!-- <mat-grid-list cols="10" rowHeight="1:4">
  <mat-grid-tile md-colspan="2" colspan="2">     -->
    <div class="split-left">

      <mat-list>
        <span class="box">
          <a mat-list-item>
            <mat-icon matListIcon>folder</mat-icon>
            <h3 matLine class="link-menu" (click)="countingProblems()">Counting Problems</h3>
          </a>
        </span>
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine class="link-menu">Understanding Addition</h3>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine class="link-menu">Understanding Subtraction</h3>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine class="link-menu">Mixed Operations</h3>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine class="link-menu">Comparison Problems</h3>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine class="link-menu">Measurement Problems</h3>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine class="link-menu">Patterns</h3>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine class="link-menu">Shapes</h3>
        </a>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  <!-- </mat-grid-tile> -->
  <!-- <div class = "container slide-right first-grade-panel">  
  <mat-grid-list cols=1 rowHeight="200px" gutterSize="3px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list>
</div> -->
  <mat-divider vertical="true" gutter></mat-divider>
  <!-- <mat-grid-tile colspan="8"> -->
    <div class="container first-grade-panel">
      <h2></h2>
      <div class="slide-right">
        <div *ngIf="display">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Question1</mat-card-title>
              <mat-card-subtitle>Count number of balls</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <span><img src="../../assets/counting/ball2.jpg" alt="ball1"></span>
              <span><img src="../../assets/counting/ball2.jpg" alt="ball2"></span>
              <span><img src="../../assets/counting/ball2.jpg" alt="ball2"></span>
              <span><img src="../../assets/counting/ball2.jpg" alt="ball2"></span>
            </mat-card-content>

          </mat-card>
          <br>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Question2</mat-card-title>
              <mat-card-subtitle>Count number of doughnuts:</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
              <span><img src="../../assets/counting/doughnut.png" alt="ball3"></span>
            </mat-card-content>

          </mat-card>
        </div>
        <!-- <div class="panel-body"></div> -->
      </div>
    </div>
  <!-- </mat-grid-tile>
</mat-grid-list> -->


<!-- <div class="container first-grade-panel">
      <h2></h2>
      <div class="panel panel-default slide-right">
        <div class="panel-body"></div>
      </div>
</div> -->
<!-- </div> -->
<!-- <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Recently Used
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <br />
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Inputs
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <br />
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Functions
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion> -->